[submodule "tree-sitter-python"]
	path = tree-sitter-python
	url = git@github.com:tree-sitter/tree-sitter-python.git
[submodule "nvim-treesitter"]
	path = nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "rune"]
	path = rune
	url = git@git.unstable.build:unstablebuild/rune.git
